* {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
}

::-webkit-scrollbar {
    width: 10px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);     
    background: #666;    
}
 
::-webkit-scrollbar-thumb {
    background: #232323;
}

body {
    color: white;
}
.banner {
    background:linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0.595), rgb(0, 0, 0)) ,url('../Pictures/bg1.jpg');
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

nav {
    position: sticky;
    font-size: 20px;
    font-weight: bold;
}
.text-banner {
    display: block;
    margin-top: 160px;
}
.text-banner h1 {
    font-size: 60px;
}
.text-banner h4 {
    font-weight: normal;
    font-size: 20px;
}
.banner .gambar2 {
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin: 0px 90px 20px;
}
.banner .gambar2 img {
    height: 200px;
}
.buttonOrderNow {
    position: absolute;
    text-align: center;
    left: 720px;
    top: 600px;
}
.carousel {
    display: none;
}

.pricelist {
    height: 900px;
    background:linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0.595), rgb(0, 0, 0)), url('../Pictures/backgroundPriceList.svg') 
}
.title {
    display: flex;
}
.arrow button {
    background: none;
    border: none;
}
.contact {
    height: 1024px;
    background:linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0.595), rgb(0, 0, 0)), url('../Pictures/backgroundPriceList.svg') ;
    text-align: center;
}
/* Card Pricelist */
.card-container::-webkit-scrollbar {
    display: none;
}
.card-container {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.card {
    margin: 0 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    min-width: 300px;
    color: white;
    background-color: #171515;
    /* transform: translateX(-490px); */
    transition: 0.3s all ease-in-out;
}
.card img {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 5px;
}

.card2 {
    margin: 0 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    min-width: 200px;
    color: white;
    background-color: #171515;
    transition: 0.3s all ease-in-out;
}
.card2 img {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 5px;
}
.card2 p {
    font-size: 13px;
}
/* End Card Pricelist */


.card-contact{
    width: 100%;
    height: 150px;
    border-radius: 12px;
    background: #171515;
    display: block;
    cursor: pointer;
    transition: transform 0.3s ease;
    margin: auto;
}
.card-contact img {
    color: white;
    margin-top: 12px;
    margin-bottom: 23px;
    width: 50px;
    height: 50px;
}
.card-contact p {
    margin: 0px 40px 0px 40px;
}
.card-contact:hover{
    background: #B1B1B1;
    color: black;
    font-weight: bold;
    transform: translateY(-10px);
}

.hidden {
    display: none;
  }

.active {
    background: #B1B1B1;
    color: black;
    font-weight: bold;
}
.card-body {
    height: 541px;
    background: #B1B1B1;
    color: black;
    text-align: left;
    font-weight: bold;
    padding: 40px;
}

.input-form input{
    padding: 10px;
    width: 600px;
    height: 54px;
    background: #B1B1B1;
    border: 2px solid white;
    border-radius: 10px;
}
input[type='text']:focus {
    background: #B1B1B1;
    border: 2px solid white;
    color: white;
}

textarea {
    background: #B1B1B1;
    background: #B1B1B1;
    border: 2px solid white;
    border-radius: 10px;

}
.submit {
    text-align: center;
}
.submit button {
    border: none;
    padding: 10px 50px 10px 50px;
    border-radius: 10px;
    background: #D90000;
    color: white;
    font-weight: bold;
}

.lokasi {
    padding: 0px;
    overflow: hidden;
}
.lokasi iframe {
    width: 100%;
    height: 100%;
}

.testing {
    border: 1px solid red;
}

#faq {
    height: 541px;
    /* background: url("../Pictures/gmailBackground.svg"); */
    color: black;
    text-align: left;
    font-weight: bold;
    width: 100%;
    background-size: cover;
    /* jng pake padding */
}

.submit {
    text-align: center;

}
.submit-faq button {
    border: none;
    margin-top: 395px;
    padding: 10px 50px 10px 50px;
    border-radius: 10px;
    background: #D90000;
    color: white;
    font-weight: bold;
    width: 381px;
    height: 83px;    
    font-size: 30px;
}

@media only screen and (max-width: 480px) {
    .text-banner {
        margin-top: 80px;
    }
    .text-banner h1{
        font-size: 40px;
    }
    .text-banner h4 {
        font-size: 14px;
    }
    .gambar2 img{
        display: none;
    }
    .carousel{
        display: block;
        margin: 20px;
    }
    .carousel-item {
        height: 200px;
        border-radius: 20px;
    }
    .carousel-item img {
        object-fit: cover;
        height: 200px;
        border-radius: 20px;
        border: 2px solid white;
    }
    .card-contact img {
        width: 35px;
        height: 35px;
    }
    .card-contact p {
        margin: 0px 10px 0px 10px;
        font-size: 10px;
    }
    .card-contact {
        height: 130px;
    }
    .card-body {
        padding: 10px;
        height: 581px;
    }
    .input-form input {
        width: 100%;
    }
    textarea {
        height: 100px;
        width: 100%;
    }
}